header{
    display:flex;
    justify-content:center;
    background-color: rgb(240, 230, 230); 
  }
  header figure.Ppal{
    width: 15%;
  }
  header figure.Ppal img{
    width: 100%;
  }
  .Over{
    position: absolute;
    margin: 100px 200px 0px 300px;
    width:300px;
    height: 200px;
    background-color:rgba(150, 0, 0,0.2);
   }
   .Wid{
    padding: 10px 0px  0px 10px;
    color: aliceblue;
   }
   
  .px{
    position: absolute;
    padding: 40px 150px 300px 850px;
    font-weight: bold;
    font-size: 50px;
    color:  green;
  }
  .logo{
    box-shadow: 0 0 30px rgba(0, 0, 0, 40);
    border-radius:30px; 
  }
  nav{
  
    background-color:black;
  }
   button{
    background-color: black;
    border: none;
  }
  nav ul {
    display:flex;
    padding:8px;
    justify-content: center;
    list-style-type:none;
    }
  nav ul li a{
    text-decoration:none;
    color: grey;
  }
  nav ul li a:hover{
    color:black;
    background-color:grey;
  }
  nav ul li{
    padding:15px;
  }
 body{
    background-color: rgb(240, 230, 230); 
  }
  .pictures{
    width: 1200px;
    background:url(https://images.unsplash.com/photo-1518803194621-27188ba362c9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=874&q=80);
    margin: auto;
    box-shadow:  0 0 30px rgba(0, 0, 0, 40);
  }
  .pictures ul li img:hover{
    box-shadow:  0 0 30px rgba(0, 0, 0, 40);
  }
  .HG{   
    margin: auto auto 0px 78px;
    color: whitesmoke;
  }
  .DG{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    box-shadow:  0 0 30px rgba(0, 0, 0, 40);
  }
  
  ul li{
    list-style-type: none;
  }
  img{
    width: 280px;
    height: 200px;
  }
  
 








  
 
  
  












  